body{
    justify-content: center;
    display: flex;
}
.ball{
    position: absolute;
    height: 100px;
    top: 710px;
}

.dot{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 100px;
}